body{
	background-color:rgb(225,225,225);
	background-image:url(../img/body-bg.jpg);
}
body,h1,h2,h3,h4,h5{
	font-family:"Microsoft YaHei", Helvetica, Arial, sans-serif;
	color:#222222;
	text-shadow:0px 0px 2px white;
}
.bodycover{
	position:fixed;
	width:100%;
	height:100%;
	background-color:rgba(255,255,255,0.3);
	z-index:1;
}
.topcover{
	position:fixed;
	width:300px;
	height:50px;
	left:50%;
	margin-left:-150px;
}
#topmsg{
	position:relative;
	width:250px;
	height:0px;
	margin-left:25px;
	text-align:center;
	margin-top:0px;
	background-color:rgba(225,225,225,0.8);
	border-radius:0 0 10px 10px;
	overflow:hidden;
}
.triT{
	position:relative;
	width:300px;
	height:25px;
	top:-25px;
	padding:0 10px 0 10px;
	text-align:center;
	background-color:rgba(225,225,225,0.8);
	border-radius:0 0 10px 10px;
	margin:0px;
}
/*progress 进度条*/
.progress-line{
	position:absolute;
	width:100%;
	top:400px;
	height:10px;
	padding:2px;
	border-radius:4px;
	box-shadow: 3px 3px 5px inset;
	background-color:#aaaaaa;
}
#progress-inline{
	position:absolute;
	width:0;
	border-radius:3px;
	height:6px;
	background-color:#ffffff;
	box-shadow: -2px -2px 1px inset;
}
/*时间*/
#time_left{
	position:absolute;
	width:100px;
	top:375px;
	left:0;
	text-align:left;
}
#time_right{
	position:absolute;
	width:100px;
	top:375px;
	left:100%;
	margin-left:-100px;
	text-align:right;
}
/*音乐音量*/
#img_cover{
	position:absolute;
	width:206px;
	height:80px;
	top:0px;
	left:-10px;
	padding-left:10px;
	padding-right:10px;
	background-color:rgba(255,255,255,0.4);
	border-radius:15px;
	display:none;
}
.music_sound{
	position:absolute;
	width:100%;
	height:24px;
	top:50%;
	margin-top:-12px;
	text-align:left;
}
.music_sound img{
	float:left;
	border-radius:5px;
}
.music_sound img:hover{
	cursor:pointer;
}
.music_sound img:active{
	box-shadow:2px 2px 2px inset;
}
.sound_under{
	float:left;
	background-color:#777777;
	width:150px;
	margin-left:10px;
	margin-top:6px;
	height:12px;
	border-radius:6px;
	box-shadow:5px 5px 5px inset;
}
#sound_length{
	width:5px;
	background-color:#eeeeee;
	margin-top:2px;
	margin-left:2px;
	height:8px;
	box-shadow:-2px -2px 2px inset;
	border-radius:4px;
}
.length_cover:hover{
	cursor:pointer;
}
.length_cover{
	position:absolute;
	top:8px;
	left:34px;
	height:8px;
	width:150px;
	z-index:4;
	background-color:rgba(255,255,255,0.1);
	border-radius:4px;
}
/*音乐信息*/
.music_info{
	position:absolute;
	width:100%;
	top:420px;
	left:0px;
	height:80px;
}
.music_ico{
	position:absolute;
	top:290px;
	left:50%;
	margin-left:-93px;
	width:186px;
	height:80px;
	float:left;
	text-align:center;
}
.music_ico:hover #img_cover{
	display:block;
}
.music_title{
	position:relative;
	float:left;
	width:100%;
	text-align:center;
	
}
/*footer*/
.footer{
	position:fixed;
	top:100%;
	margin-top:-62px;
	width:100%;
	height:62px;
	text-align:center;
	z-index:2;
}

/*各种按钮 播放|暂停 下一首 删除 喜欢*/
.Sweet_button{
	position:fixed;
	left:50%;
	top:60px;
	margin-left:-150px;
	width:300px;
	min-height:300px;
	z-index:2;
}

.Sweet_pp{
	position:absolute;
	left:50%;
	margin-left:-100px;
	width:200px;
	height:200px;
	border-radius:100px;
	box-shadow:3px 3px 8px;
	background-image:url(../img/pp-bg.png);
	background-size:220px 220px;
	background-position:-10px -10px;
	background-repeat:no-repeat;
	z-index:100;
}
.Sweet_pp_x:hover{
	cursor:pointer;
}
.Sweet_pp_x:active{
	box-shadow:3px 3px 8px inset;
}
.Sweet_pp_x{
	position:absolute;
	left:50%;
	margin-left:-40px;
	width:80px;
	height:80px;
	top:50%;
	margin-top:-40px;
	border-radius:40px;
	background-image:url(../img/pause.png);
	background-size:80px 80px;
	background-repeat:no-repeat;
	z-index:101;
}

.Sweet_next{
	position:absolute;
	left:50%;
	margin-left:-30px;
	top:210px;
	width:60px;
	height:60px;
	border-radius:30px;
	box-shadow:3px 3px 8px;
	background-image:url(../img/next.png);
	background-size:66px 66px;
	background-position:-3px -3px;
	background-repeat:no-repeat;
	z-index:99;
}
.Sweet_next:hover{
	cursor:pointer;
}
.Sweet_next:active{
	box-shadow:3px 3px 8px inset;
}

.Sweet_love{
	position:absolute;
	left:50%;
	margin-left:-130px;
	top:210px;
	width:60px;
	height:60px;
	border-radius:30px;
	box-shadow:3px 3px 8px;
	background-image:url(../img/love.png);
	background-size:76px 76px;
	background-position:-8px -8px;
	background-repeat:no-repeat;
	z-index:99;
}
.Sweet_love:hover{
	cursor:pointer;
}
.Sweet_love:active{
	box-shadow:3px 3px 8px inset;
}

.Sweet_trash{
	position:absolute;
	left:50%;
	margin-left:70px;
	top:210px;
	width:60px;
	height:60px;
	border-radius:30px;
	box-shadow:3px 3px 8px;
	background-image:url(../img/trash.png);
	background-size:66px 66px;
	background-position:-3px -3px;
	background-repeat:no-repeat;
	z-index:99;
}
.Sweet_trash:hover{
	cursor:pointer;
}
.Sweet_trash:active{
	box-shadow:3px 3px 8px inset;
}
/*登陆页面css*/

#login-panel{
	position:fixed;
	top:0px;
	z-index:2000;
	left:50%;
	margin-left:-160px;
	width:320px;
	height:600px;
	border-radius:0 0 20px 20px;
	background-color:rgba(255,255,255,0.9);
}
#login-panel button:focus,input:focus{
	outline-style:none;
}
#login-panel input{
	border-radius:5px;
	text-align:center;
}
#login{
	margin-top:150px;
	text-align:center;
}
#register{
	margin-top:150px;
	text-align:center;
}
#user{
	margin-top:150px;
	text-align:center;
}
.loginbtn{
	width:46px;
	height:46px;
	border-radius:23px;
}
.registerbtn{
	width:100px;
	height:46px;
	border-radius:23px;
}
#loginerror,#registererror{
	color:red;
}

.recommenditem{
	position:relative;
	width:100%;
	margin-top:30px;
	height:70px;
}
.recommendbox{
	position:relative;
	float:left;
	width:100%;
	height:70px;
}
.musicbox{
	position:absolute;
	left:50%;
	margin-left:-35px;
	width:70px;
	height:70px;
	border-radius:35px;
	background-color:#000;
}
.musictitle{
	position:absolute;
	width:100%;
	text-align:center;
	top:75px;
}
.musicbox:hover,.musicright:hover,.musicleft:hover{
	cursor:pointer;
}
.musicbox:active,.musicright:active,.musicleft:active{
	box-shadow:2px 2px 2px inset;
}
.musicleft{
	position:absolute;
	width:30px;
	height:30px;
	left:25%;
	top:20px;
	margin-left:-15px;
	background:url(../img/left.png);
	background-size:30px 30px;
	border-radius:15px;
}
.musicright{
	position:absolute;
	width:30px;
	height:30px;
	left:75%;
	top:20px;
	margin-left:-15px;
	background:url(../img/right.png);
	background-size:30px 30px;
	border-radius:15px;
}

.musictags{
	width:100%;
	height:200px;
	padding-top:20px;
}
.musictags input{
	border-radius:4px 0 0 4px;
	border:1px #000000 solid;
}
.musictags .btnright{
	border-radius:0 4px 4px 0;
	margin-left:-5px;
	padding-right:5px;
	border:1px solid #000000;
}
.addtags .btnleft{
	border-radius:4px 0 0 4px;
	border:1px solid #000000;
	margin-left:0px;
}
.addtags .btnright{
	border-radius:0 4px 4px 0;
	margin-left:-5px;
}
#newtags{
	min-height:20px;
}
/*tags*/
#newtags span{
	padding:3px;
	border-radius:5px;
	background-color:#ff00ff;
	color:white;
	margin-left:10px;
}
#newtags span:hover{
	cursor:pointer;
}
